h1{
    text-align: center;
}
.container{
    margin:auto;
    border:1px solid red;
    height:500px;
    width:500px;
    background-image: linear-gradient(rgb(132, 132, 195),white);
    /* background-image: linear-gradient(grey,white); */
    box-shadow: 5px 10px grey;
}
.container1{
    margin:auto;
    /* margin-top:20%; */
    /* border:1px solid red; */
    /* height:200px; */
    
    /* width:500px; */
    /* background-image: linear-gradient(rgb(132, 132, 195),white); */
    /* background-image: linear-gradient(grey,white); */
    /* box-shadow: 5px 10px grey; */
}

.studentform{
    margin-top:5%;
    margin-left:20%;
    border:1px solid red;
    height:300px;
    width:500px;
    background-image: linear-gradient(rgb(132, 132, 195),white);
    /* background-image: linear-gradient(grey,white); */
    box-shadow: 5px 10px grey;
}
#formstud{
    margin-left:30%;
    margin-top:10%;
}
.tablediv{
    margin-top:10%;
    margin-left:10%;
    width:600px;
    border:2px solid green;
    border-spacing: 0;
}
th
{
    
    background-color:#33ccff;
    color: black;
    width:300px;
}
td{
    text-align: center;
    width:300px;
    font-family: Arial;
    
    /* padding-right: ; */
}
tr:nth-child(even) {
    background-color:#99ff99;
}
form{
    margin-left:30%;
    margin-top:30%;
}
label{
    
    display: block;
    font-size: large;
    font-weight:500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 input{
    align-items: center;
    height:30px;
    width:200px;
    display:block;
    margin-top:3%;
    border-radius: 10px;
    border-color: blueviolet;

} 
input:hover{
    /* border: 1 px solid green; */
    border-style:double;
    border-color:maroon;
}
#submit{
    margin-left:15%;
    color:white;
    font-size: larger;
    font-weight: 300;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:orangered;
    width:100px;
}
#add{
    color:white;
    font-size: larger;
    font-weight: 300;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:green;
}
#delete{
    color:white;
    font-size: larger;
    font-weight: 300;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:red;
}
